<div class="container">
    <img src="https://www.pinclipart.com/picdir/big/128-1284210_cocktail-color-summer-drinks-clip-art-png-download.png" >
</div>
<div id="browse">
<%= link_to 'OUR COLLECTION', cocktails_path, class: "btn btn-primary" %>
<h3 class="btn btn-primary">SEARCH</h3>
</div>

