// Import page-specific CSS files here.
@import "home";

.cocktails-container {
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin: 16px;
    width: 100vw;
    overflow-y: scroll;
}

.card-cocktail {
    display: flex;
    width: 320px;
    height: 160px;
    border: solid 1px $background;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.1);
    font-family: $navbar-header;
    position: relative;
    text-shadow: $text-shadow;
    img {
        object-fit: fill;
        max-width: 96px;
        border-radius: 8px;
    }
    
    a {
        position: absolute;
        right: 56px;
        bottom: 10px;
        text-decoration: none;
        letter-spacing: 8px;
    }

    p {
        margin-left: 8px;
        font-size: large;
        text-align: center;
        
    }
}

.desc-cocktail {
    padding: 4px;
    width: 224px;
}