// Import page-specific CSS files here.
@import "home";

.cocktails-container {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(325px,1fr) );
    grid-gap: 48px;
    margin: 16px;
    
    
}

.card-cocktail {
    display: flex;
    // width: 320px;
    height: 160px;
    border: solid 1px $background;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.1);
    font-family: $navbar-header;
    position: relative;
    text-shadow: $text-shadow;
    img {
        object-fit: fill;
        max-width: 96px;
        border-radius: 8px;
    }
    
    a {
        position: absolute;
        bottom: 4px;
        right: 4px;
        text-decoration: none;
        letter-spacing: 8px;
    }

    p {
        
        font-size: large;
        text-align: left;
        
    }
}

.desc-cocktail {
    padding: 8px;
    width: 391px;
    margin: 0px;
}

.checked{
    color: $contrast;
}